<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML' async></script>
<script>
MathJax = {
tex: {
//packages: ['base'],        // extensions to use
inlineMath: [['\(', '\)']],
displayMath: [['\[', '\]']],
//processEscapes: true,      // use \$ to produce a literal dollar sign
//processEnvironments: true // process \begin{xxx}...\end{xxx} outside math mode  
}
};
</script>
<script id="MathJax-script" async
src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>
